<html>
	<head>
		  <% include partials/header.ejs %>
	</head>


	<body>
		
		<% include partials/navbar.ejs %>

		<div class="container">

			<% include partials/headline.ejs %>

			<div class="row">
				<% for(var i=1; i <=noOfImages; i++) { %>
					<div class="col-md-6">
						<div class="thumbnail">
							<img src="images/<%= city %>/<%=i%>.jpg">
						</div>
					</div>
				<% } %>
			</div>
		</div>

	</body>
</html>