<html>
	<head>
		 
		 <% include partials/header.ejs %>
	</head>


	<body>
		<% include partials/navbar.ejs %>

		<div class="container">

			<% include partials/headline.ejs %>

			<div class="row">
				<div class="col-md-12">
					<img src="images/main.jpg" class="img-responsive" alt="Cinque Terre">
				</div>
			</div>
		</div>

	</body>
</html>